---
layout: default
title : Publications
navbar_title: Publications
body_attr: >-
  data-side-layout="true"
container_class: homepage-container
---

{% assign pubs_by_year = site.publications | sort: "date" | reverse | group_by_exp: "item", "item.date | date: '%Y'" %}

<div class="row homepage-layout">
    <div class="col-12 col-xl-3 col-lg-3 col-md-4 homepage-sidebar-col">
        {% include widgets/profile_card_mini.html %}
    </div>

    <div class="col-12 col-xl-9 col-lg-9 col-md-8 homepage-main-col publication-page-main">
        {% for year in pubs_by_year %}
        {% assign num_papers = year.items | size %}
        <h2 class="pt-4" id="year-{{ year.name }}">{{ year.name }}</h2>
        <div class="my-0 p-0 bg-white shadow-sm rounded-xl">
            {% for item in year.items %}
                {% include widgets/publication_item.html item=item hide_bottom_border=forloop.last first=forloop.first last=forloop.last %}
            {% endfor %}
        </div>
        {% endfor %}
    </div>
</div>
